<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--      <form (ngSubmit)="onSubmit(form)" #form="ngForm">-->
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   id="username"
                   class="form-control"
                   name="username"
                   ngModel
                   required
                   #username="ngModel">
            <span class="help-block" *ngIf="!username.valid && username.touched">
              The username is required!
            </span>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUsername()">
            Suggest an Username
          </button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email"
                   id="email"
                   class="form-control"
                   name="email"
                   ngModel
                   required
                   email
                   #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">
              Please enter a valid email!
            </span>
          </div>
        </div>
        <span class="help-block" *ngIf="!userData.valid && userData.touched">
          User Data is invalid!
        </span>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret"
                  class="form-control"
                  name="secret"
                  [ngModel]="defaultQuestion">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="secretAnswer"
                    class="form-control"
                    rows="3"
                    [(ngModel)]="answer">
          </textarea>
        </div>
        <p *ngIf="answer !== ''">Your reply : {{ answer }}</p>
        <div class="form-group">
          <label for="gender">Gender</label>
          <div class="radio" id="gender" *ngFor="let gender of genders">
            <label for="{{ gender }}">
              <input type="radio"
                     name="gender"
                     id="{{ gender }}"
                     [value]="gender"
                     [ngModel]="defaultGender">
              {{ gender }}
            </label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>Your Data</h3>
      <p>Username: {{ user.username }}</p>
      <p>Mail: {{ user.email }}</p>
      <p>Secret Question: Your first {{ user.secretQuestion }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div>
